@layer components {
  .options {
    @apply px-6 py-3 text-[19px];
  }

  .border-custom {
    @apply rounded-[10px] border border-black bg-transparent;
  }
}

@layer utilities {
  .array {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }

  .field {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    && input {
      outline: none;
    }
  }

  // Price range

  .slider {
    height: 5px;
    border-radius: 5px;
    background: #ddd;
    position: relative;
  }

  .slider .progress {
    height: 5px;
    left: 25%;
    right: 25%;
    position: absolute;
    background: #17a2b8;
    border-radius: 5px;
  }

  .range-input {
    position: relative;
  }

  .range-input input {
    position: absolute;
    top: -5px;
    height: 5px;
    width: 100%;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    appearance: none;
  }

  input[type='range']::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    pointer-events: auto;
    -webkit-animation: none;
    background: red;
  }
  input[type='range']::-moz-slider-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    pointer-events: auto;
    -moz-animation: none;
    background: red;
  }
}
