@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-display: swap;
    font-family: 'Extatica';
    src: url('@fonts/Extatica-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-display: swap;
    font-family: 'Extatica';
    src: url('@fonts/Extatica-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
  }
  @font-face {
    font-display: swap;
    font-family: 'Extatica';
    src: url('@fonts/Extatica-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
  }
  @font-face {
    font-display: swap;
    font-family: 'Evolventa';
    src: url('@fonts/Evolventa-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-display: swap;
    font-family: 'Evolventa';
    src: url('@fonts/Evolventa-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
  }
}

@layer components {
  .options {
    @apply rounded-[10px] border border-black bg-transparent px-6 py-3 text-[19px];
  }
}

@layer utilities {
  .array {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }
}
